@model Codinia.Models.BlogPost
@{
    ViewBag.PostTitle = "Codinia | " + Model.PostTitle;
    ViewBag.PostTags = Model.PostTags;
    ViewBag.PostDescription = Model.PostDescription;
    ViewBag.AuthorName = Model.AuthorName;
    Layout = "~/Views/Shared/_BlogPostLayout.cshtml";
    var PhotoPath = "~/assets/Images/" + (Model.ThumbnailImageUrl ?? "noimage.jpg");
}
<section id="blog " class="blog_area pt-10 pb-120 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-1 ">
                <nav id="sidebar" class="sidebar-sticky float-left">
                    <ul class="list-unstyled components ">
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="far fa-angle-right"></i> Home </a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#">Home 1</a>
                                </li>
                                <li>
                                    <a href="#">Home 2</a>
                                </li>
                                <li>
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenuu" data-toggle="collapse" aria-expanded="false"><i class="far fa-angle-right"></i> Home2 </a>
                            <ul class="collapse list-unstyled" id="homeSubmenuu">
                                <li>
                                    <a href="#">Home 1</a>
                                </li>
                                <li>
                                    <a href="#">Home 2</a>
                                </li>
                                <li>
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#pageSubmenuu" data-toggle="collapse" aria-expanded="false"><i class="far fa-angle-right"></i> Pages </a>
                            <ul class="collapse list-unstyled" id="pageSubmenuu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="far fa-angle-right"></i> Pages2 </a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 col-sm-4 ">
                <div class="blog-content-area ">
                    <div class="row  col-mx mx-auto  justify-content-center blog-background">
                        <div claas="wow bounceInUp">
                            <div class="blog_content">
                                <h1>
                                    @Html.Raw(Model.PostTitle)
                                </h1>
                                <ul class="blog_meta d-flex justify-content-center ">
                                    <li>By: <a href="@Model.AuthorURL">@Model.AuthorName</a>&nbsp; / &nbsp;</li>
                                    <li>03 Feb 2021</li>
                                </ul>
                                <div style="text-align: center;">
                                    <img class="blog-img-section img-responsive" style="max-height: 500px;" src="@Html.Raw(Model.ThumbnailImageUrl)" asp-append-version="true">
                                </div>
                                <div class="mx-auto ">
                                    @Html.Raw(Model.PostContent)
                                </div>
                                <div class="row">
                                    @await Component.InvokeAsync("RelatedBlog", new { category = Model.Category })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-2">
                @Html.Raw(Model.TableOfContent)
            </div>
        </div>
    </div>
    <div class="container">
    </div>
    <div class="container">
        <div id="disqus_thread"></div>
        <script>
    var disqus_config = function () {
        this.page.url = "@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path";
        this.page.identifier = "@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path";
    };
    (function () {
        var d = document, s = d.createElement('script');
        s.src = '//codinia-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//codinia-com.disqus.com/count.js" async></script>
    </div>
</section>
