@model List<BlogPost>

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="blog " class="blog_area pt-115 pb-120 ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-lg-6 ">
                <div class="section_title text-center pb-25 ">
                    <h5 class="sub_title ">Blog</h5>
                    <h4 class="main_title ">From The Blog</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center blog-background ">
            <!--8 tips for writing a good content-->

            @foreach (var blogpost in Model)
            {
                <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
                    <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                        <h3 class="blog_title "><a href='blog-post/@blogpost.PostURL'> @blogpost.PostTitle</a></h3>
                        <div class="blog_image ">
                            <img class="card-img-top img-fluid" src='@blogpost.ThumbnailImageUrl' alt="blog ">
                        </div>
                        <div class="card-body">
                            <div class="blog_content">
                                <ul class="blog_meta d-flex justify-content-between ">
                                    <li>By: <a href='@blogpost.AuthorURL'>@blogpost.AuthorName</a></li>
                                    <li>@blogpost.PostDate.ToString("dd MMM yyyy")</li>
                                </ul>
                                <p class="blog_para">
                                    @blogpost.PostDescription
                                </p>
                                <a href='blog-post/@blogpost.PostURL' class="more main-btn ">Read More</a>
                            </div>

                        </div>
                    </div>
                </div>
            }




        </div>
    </div>
</section>
















































<!--<h4 class="main_title ">From The Blog</h4>
    <div class="card-deck">
        <div class="card-body text-center">
            <div class="row justify-content-center blog-background ">
                <div class="col-lg-4 col-md-7 " style="padding-bottom: 10px; ">
                    <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                        <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                            <h3 class="blog_title "><a href="8-Tips-for-writing-a-good-content.html"> 8 Tips for writing a good content</a></h3>-->
@*<div class="blog_image ">
        <img src="assets/images/8 Tips for writing a good content.jpg " alt="blog ">
        <img class="card-img-top img-fluid" src="~/assets/images/8 Tips for writing a good content.jpg " alt="blog ">
    </div>*@
<!--<div class="blog_content ">
                        <ul class="blog_meta d-flex justify-content-between ">
                            <li>By: <a href="# ">Shumaila Nawaz</a></li>
                            <li>03 Feb 2021</li>
                        </ul>
                        <p class="blog_para">
                            Content writing is not such thing that you do for print media or electronic media it actually something that you do on web media. Web media means our internet platform the internet platform where you can contact to the
                            other people, agencies or companies, where you search for things or products
                        </p>
                        <a href="8-Tips-for-writing-a-good-content.html" class="more main-btn ">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body text-center">
    <div class="col-lg-4 col-md-7 " style="padding-bottom: 10px; ">
        <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
            <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                <h3 class="blog_title "><a href="11-Tips-and-techniques-for-writing-a-good-headline.html"> 11 Tips and techniques for writing a good headline</a></h3>-->
@*<div class="blog_image ">
        <img src="assets/images/11 Tips and technique for a writing headline.jpg" alt="blog ">
        <img class="card-img-top img-fluid" src="assets/images/11 Tips and technique for a writing headline.jpg" alt="blog ">
    </div>*@
<!--<div class="blog_content ">
                    <ul class="blog_meta d-flex justify-content-between ">
                        <li>By: <a href="# ">Shumaila Nawaz</a></li>
                        <li>12 Feb 2021</li>
                    </ul>

                    <p class="blog_para">A HEADLINE is the top line of any content that defines the topic, and which explains what is the main purpose of this article or story. People can easily judge all the content below from its heading.</p>
                    <a href="11-Tips-and-techniques-for-writing-a-good-headline.html" class="more main-btn ">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body text-center">
    <div class="col-lg-4 col-md-7 " style="padding-bottom: 10px; ">
        <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
            <h3 class="blog_title "><a href="10-Tips-for-how-to-be-productive-when-working-frome-home.html"> 10 Tips for how to be productive When working from home</a></h3>-->
@*<div class="blog_image ">
        <img class="card-img-top img-fluid" src="assets/images/10 Tips for how to be prodictive while working from home.jpg" alt="blog ">
    </div>*@
<!--<div class="card-body">
                    <div class="blog_content">
                        <ul class="blog_meta d-flex justify-content-between ">
                            <li>By: <a href="https://www.linkedin.com/in/shumaila-nawaz-7b32b0204/">Shumaila Nawaz</a></li>
                            <li>24 Feb 2021</li>
                        </ul>
                        <p class="blog_para">
                            Covid 19 has pushed the workforce to work from home. Employees are spending more time at home and it brought new challenges for productivity. Some of us had to bring their office, to home with the spread of COVID-19
                            and had to learn to share it with family members and even pets. Through following these tips, you can improve productivity and manage time with family.
                        </p>
                        <a href="https://www.codinia.com/blog/10-Tips-for-how-to-be-productive-when-working-frome-home.html" class="more main-btn ">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
@*<div class="card-deck" >
        <div class="card-body text-center">
            <div class="row justify-content-center blog-background ">
                8 tips for writing a good content
                <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
                    <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                        <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                            <h3 class="blog_title "><a href="8-Tips-for-writing-a-good-content.html"> 8 Tips for writing a good content</a></h3>
                            <div class="blog_image ">
                                    <img src="assets/images/8 Tips for writing a good content.jpg " alt="blog ">
                                    <img class="card-img-top img-fluid" src="~/assets/images/8 Tips for writing a good content.jpg " alt="blog ">
                                </div>
                            <div class="blog_content ">
                                <ul class="blog_meta d-flex justify-content-between ">
                                    <li>By: <a href="# ">Shumaila Nawaz</a></li>
                                    <li>03 Feb 2021</li>
                                </ul>
                                <p class="blog_para">
                                    Content writing is not such thing that you do for print media or electronic media it actually something that you do on web media. Web media means our internet platform the internet platform where you can contact to the
                                    other people, agencies or companies, where you search for things or products
                                </p>
                                <a href="8-Tips-for-writing-a-good-content.html" class="more main-btn ">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
                <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                    <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                        <h3 class="blog_title "><a href="11-Tips-and-techniques-for-writing-a-good-headline.html"> 11 Tips and techniques for writing a good headline</a></h3>

                        <div class="blog_image ">
                                <img src="assets/images/11 Tips and technique for a writing headline.jpg" alt="blog ">
                                <img class="card-img-top img-fluid" src="assets/images/11 Tips and technique for a writing headline.jpg" alt="blog ">
                            </div>
                        <div class="blog_content ">
                            <ul class="blog_meta d-flex justify-content-between ">
                                <li>By: <a href="# ">Shumaila Nawaz</a></li>
                                <li>12 Feb 2021</li>
                            </ul>

                            <p class="blog_para">A HEADLINE is the top line of any content that defines the topic, and which explains what is the main purpose of this article or story. People can easily judge all the content below from its heading.</p>
                            <a href="11-Tips-and-techniques-for-writing-a-good-headline.html" class="more main-btn ">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
                <div class=" card single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
                    <h3 class="blog_title "><a href="10-Tips-for-how-to-be-productive-when-working-frome-home.html"> 10 Tips for how to be productive When working from home</a></h3>
                    <div class="blog_image ">
                            <img class="card-img-top img-fluid" src="assets/images/10 Tips for how to be prodictive while working from home.jpg" alt="blog ">
                        </div>
                    <div class="card-body">
                        <div class="blog_content">
                            <ul class="blog_meta d-flex justify-content-between ">
                                <li>By: <a href="https://www.linkedin.com/in/shumaila-nawaz-7b32b0204/">Shumaila Nawaz</a></li>
                                <li>24 Feb 2021</li>
                            </ul>
                            <p class="blog_para">
                                Covid 19 has pushed the workforce to work from home. Employees are spending more time at home and it brought new challenges for productivity. Some of us had to bring their office, to home with the spread of COVID-19
                                and had to learn to share it with family members and even pets. Through following these tips, you can improve productivity and manage time with family.
                            </p>
                            <a href="https://www.codinia.com/blog/10-Tips-for-how-to-be-productive-when-working-frome-home.html" class="more main-btn ">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
